form { 
    border: 2px solid #f1f1f1; 
    
    background-size: 2pc;
} 

input[type=text], 
input[type=password] { 
    width: 100%; 
    padding: 12px 20px; 
    margin: 8px 0; 
    display: inline-block; 
    border: 1px solid #ccc; 
    box-sizing: border-box; 
} 

button { 
    background-color: skyblue; 
    color: white; 
    padding: 14px 20px; 
    margin: 8px 0; 
    border: none; 
    cursor: pointer; 
    width: 100%; 
} 
button:hover { 
    opacity: 0.8; 
} 
.warning-messages{
    font-size: 16px; color: red;
}

